
  .title {
    min-width: 52vw;
    padding: 0px 2vw;
    background: #34C0E3;
    color: #FFF;
  }

  .title .title-left {
    width: 40vw;
    text-align: left;
  }

  .title .title-right {
    width: 60vw;
    text-align: right;
  }

  .navlist {
    min-width: 52vw;
    background-color: #E5E9F2;
    height: 4vh;
    font-size: 14px;
  }

  .navlist .list-left {
    min-width: 36vw;
    width: 50vw;
    text-align: left;
  }

  .navlist .list-right {
    padding: 0.1vw;
    width: 28vw;
    border: 1px solid #99A9BF;
    height: 3.7vh;
    text-align: center;
  }

  a {
    /*设置*a标签的样式*/
    color: black;
  }

  .el-tooltip__popper.is-dark span a {
    /*将第3、4列的a的样式*/
    color: #FFF;
  }
.el-submenu .el-menu-item{
  min-width:0px;
}
  .el-menu-item.is-active {
    /*添加点击侧导航类目样式突出显示*/
    border-right: 6px solid #34C0E3;
    background: #475669;
  }

  .el-table .cell {
    /*将表格的左边距设置为使表格更为紧凑*/
    padding: 0px;
  }


  /*设置*选框的高度*/

  .el-input--small .el-input__inner {
    height: 3vh;
  }

  .el-input__icon+.el-input__inner {
    padding-right: 10px;
  }
  /*设置自定义的链接样式 下载 图片 */

  .navlist .list-left .Embellish a {
    cursor: pointer;
    background-color: #34C0E3;
    color: #FFF;
    display: inline-block;
    width: 35px;
    text-align: center;
    border-radius: 2px;
  }
  /*分页动画*/

  .page-enter-active {
    animation: page-in .5s ease;
  }

  .page-leave-active {
    animation: page-in .5s ease reverse;
  }

  @keyframes page-in {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  /*公共样式*/

  @media screen and (min-width: 1200px) {
    .navlist .list-right button {
      margin: 0vw;
      padding: 0.2vw 0.4vw;
      border-radius: 0.1vw;
      height: 3vh;
    }
    .navlist .el-input {
      font-size: 12px;
      padding: 0px;
      width: 6.8vw;
    }
    .navlist .el-input-number {
      overflow: initial;
    }
    .navlist .list-left .Embellish>a {
      line-height: 2.8vh;
    }
  }
  /*以下是992px~1200px样式*/

  @media screen and (min-width:992px) and (max-width:1200px) {
    /*以下是title和下拉列表list样式*/
    /*.navlist,
    .title {
      min-width: 800px;
    }
    .title {
      font-size: 1em;
      padding: 0px 2vw;
      background: #34C0E3;
      color: #FFF;
      height: 4vw;
    }
    .title>.title-left {
      width: 40%;
    }
    .title>.title-right {
      width: 60%;
      text-align: right;
    }
    .navlist {
      background-color: #E5E9F2;
    }
    .navlist .el-input__inner {
      font-size: 0.8em;
    }
    .navlist .list-left {
      min-width: 550px;
      max-width: 600px;
      width: 55%;
    }
    .navlist .list-right {
      width: 45%;
      border: 1px solid #99A9BF;
      height: 30px;
      padding: 0px 2px;
      max-width: 340px;
      min-width: 300px;
    }*/
    .navlist .el-input {
      min-width: 100px;
      max-width: 110px;
    }
    .navlist .el-input .el-input__icon {
      width: 25px;
    }
    .list-right .el-button {
      min-width: 30px;
      max-width: 40px;
      padding-top: 4px;
      height: 22px;
    }
    .el-input--small .el-input__inner {
      height: 25px;
      padding: 0px;
    }
    .navlist .list-left .Embellish>a {
      line-height: 22px;
    }
    /*以下是表格样式*/
    .tablelist {
      font-size: 0.9em;
    }
  }
  /*以下是768~992样式*/

  @media screen and (min-width:768px) and (max-width:992px) {
    /*以下是title和下拉列表list样式*/
    .title {
      max-width: 900px;
      min-width: 700px;
    }
    .title {
      font-size: 1em;
      padding: 0px 2vw;
      background: #34C0E3;
      color: #FFF;
      height: 4vw;
    }
    .title>.title-left {
      width: 40%;
    }
    .title>.title-right {
      width: 60%;
      text-align: right;
    }
    p {
      text-overflow: clip;
      overflow: hidden;
      white-space: nowrap;
    }
    .navlist {
      flex-direction: column;
      background-color: #E5E9F2;
    }
    .list-right {
      height: 30px;
      padding: 0px 2px;
    }
    .navlist .el-input {
      width: 20vw;
    }
    .navlist .el-date-editor.el-input {
      width: 20vw;
    }
    .navlist .list-left .Embellish>a {
      line-height: 25px;
    }
    .tablelist {
      font-size: 0.9em;
    }
  }
